*{
    margin: 0;
    padding: 0;
    
}
body{
   align-items: center;
  
}
main{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main, span{
text-align:center ;
}
#value{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 5,5,5,5;
    
}